<img src="travel.png" alt="travel" id="travelpic" />

<h1 id="title">Travel Tips</h1>

<ul>
  <li>
    Be flexible - Always plan for delays and do your best to not get upset when
    things go wrong, patience is important!
  </li>
  <li>
    Make lists - Make lists a week or so before your trip of things you don't want
    to forget
  </li>
  <li>Pack extra underwear - Better safe than sorry</li>
  <li>Stay hydrated</li>
  <li>Put your room number and hotel address in your phone</li>
  <li>
    Beware of free public WiFi - The idea sounds nice but it's all too easy
    for hackers to steal your information on public WiFi
  </li>
  <li>
    Alert your bank and credit card company of your travel plans - This way
    they won't put a hold on your account if they think there is suspicious activity going on
  </li>
  <li>Wear sunscreen</li>
  <li>Keep an open mind</li>
</ul>