<h1 id="title">Summary</h1>
<h3>Please make sure all the information below is correct</h3>
<h5>If you have any questions, please call (800) - 476 - 2323</h5>
<div id="summary">
    <form action="" id="reservationForm">
        <label for="arrDate">Arrival Date</label>
        <input type="date" id="arrDate" name="arrivalDate" readonly>
        <br>
        <label for="depDate">Departure Date</label>
        <input type="date" id="deptDate" name="departureDate" readonly>
        <br>
        <label for="numGuests">Number of Guests</label>
        <input type="number" id="numGuests" name="NumOfGuests" readonly>
        <br>
        <label for="requests">Special Requests</label>
        <textarea id="requests" name="requests" readonly style="height:100px"></textarea>
        <br>
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" name="firstName" readonly>
        <br>
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" name="lastName" readonly>
        <br>
        <label for="phone">Phone Number</label>
        <input type="tel" id="phone" name="phone" readonly>
        <br>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" readonly>
        <br>
        <div id="roomType">
            <label>Type of Room:</label>
            <input type="radio" name="roomType" value="deluxe">Deluxe
            <input type="radio" name="roomType" value="suite"> Suite
            <input type="radio" name="roomType" value="regular"> Regular <br>
        </div>
        <br><br>
        <button type="button" onclick="window.location.href = '/reservation';" id="edit">Edit</button>
    </form>
</div>