<!--The content below is only a placeholder and can be replaced.-->
<div id="page">
  <div id="header">

      <div>
          <a routerLink="/home"><img src="assets/img/logo.png" alt="Logo" id="logo"></a>
      </div>

      <p id="address">
          2345 E Sunset Blvd. <br />
          Mt. Pleasant, MI 48858 <br />
          (800) - 467 - 2323
      </p>

      <nav>
          <ul>
              <li><a routerLink="/home">Home</a></li>
              <li><a routerLink="/things-to-do">Things To Do</a></li>
              <li><a routerLink="/amenities">Amenities</a></li>
              <li><a routerLink="/travel-tips">Travel Tips</a></li>
              <li><a routerLink="/admin">Admin</a></li>
          </ul>
      </nav>
  </div>

  <div id="content"> 
      <router-outlet></router-outlet>
  </div>
</div>


