<h1 id="title">Admin</h1>
<h4>Current Admin:
    <div id="CurrentAdmins" *ngIf="this.loginSuccessful">
        {{this.currentUser.username}}
    </div>
</h4>
<!-- <h1>Title: {{movieData.title}}</h1> -->

<div id="login" [hidden]="this.loginSuccessful">
    <form>
        <div>
            <label for="username"><b>Username</b></label>
            <input #username type="text" placeholder="Enter Username" name="username" required>

            <label for="password"><b>Password</b></label>
            <input #password type="password" placeholder="Enter Password" name="password" required>

            <button type="button" id="loginbtn" (click)="login(username.value, password.value)">Login</button>
        </div>
    </form>
</div>

<div id="logout" [hidden]="!this.loginSuccessful">

</div>

<div id="admin">
    <h3>Room Rates:</h3>
    <div id="RoomRates" [hidden]="!this.loginSuccessful">
        <p>Stuff here</p>
        <table>
            <thead>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Guests</td>
                <td>Room Type</td>
                <td>Arrival Date</td>
                <td>Departure Date</td>
            </thead>
            <tbody>
                <tr *ngFor="let reservation of this.allReservations | async">
                    <td>{{reservation.firstName}}</td>
                    <td>{{reservation.lastName}}</td>
                    <td>{{reservation.numGuests}}</td>                    
                    <td>{{reservation.roomType}}</td>
                    <td>{{reservation.arrDate}}</td>
                    <td>{{reservation.depDate}}</td>
                    <td><button type="button" (click)="deleteReservation(reservation)">Delete</button></td>                    
                </tr>
            </tbody>
        </table>
    </div>
    <h3>Current Reservations:</h3>
    <div id="CurrentReservations" [hidden]="!this.loginSuccessful">
        <p>Stuff here</p>
    </div>


    <button type="button" id="edit">Edit</button>
    <button type="button" id="edit">Update</button>
</div>