<h1 id="title">Admin</h1>
<h4>Current Admin:
    <div id="CurrentAdmins" *ngIf="this.loginSuccessful">
        <div id="logout" [hidden]="!this.loginSuccessful">
            {{this.currentUser.username}} <button type="button" id="logoutbtn" (click)="logout()">Logout</button>
        </div>
    </div>
</h4>
<!-- <h1>Title: {{movieData.title}}</h1> -->

<div id="login" [hidden]="this.loginSuccessful">
    <form>
        <div>
            <label for="username"><b>Username</b></label>
            <input #username type="text" placeholder="Enter Username" name="username" required>

            <label for="password"><b>Password</b></label>
            <input #password type="password" placeholder="Enter Password" name="password" required>

            <button type="button" id="loginbtn" (click)="login(username.value, password.value)">Login</button>
        </div>
    </form>
</div>

<div id="admin" [hidden]="!this.loginSuccessful">
    <h3>Current Reservations:</h3>
    <div id="CurrentReservations" [hidden]="!this.loginSuccessful">
        <table>
            <thead>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Guests</td>
                <td>Room Type</td>
                <td>Arrival Date</td>
                <td>Departure Date</td>
                <td>Phone</td>
                <td>Email</td>
            </thead>
            <tbody>
                <tr *ngFor="let reservation of this.allReservations | async">
                    <td>{{reservation.firstName}}</td>
                    <td>{{reservation.lastName}}</td>
                    <td>{{reservation.numGuests}}</td>
                    <td>{{reservation.roomType}}</td>
                    <td>{{reservation.arrDate}}</td>
                    <td>{{reservation.depDate}}</td>
                    <td>{{reservation.phone}}</td>
                    <td>{{reservation.email}}</td>
                    <td><button type="button" (click)="deleteReservation(reservation)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <h3>Create New Admin:</h3>
    <div id="NewAdmin" [hidden]="!this.loginSuccessful">
        <form>
            <div>
                <label for="newUsername"><b>Username</b></label>
                <input #newUsername type="text" placeholder="Enter Username" name="newUsername" required>

                <label for="newPassword"><b>Password</b></label>
                <input #newPassword type="password" placeholder="Enter Password" name="newPassword" required>

                <button type="button" id="newAdminbtn"
                    (click)="createNewAdmin(newUsername.value, newPassword.value)">Add
                    New Admin
                    User</button>
            </div>
        </form>
    </div>
</div>