<img src="assets/img/breakfast.png" alt="breakfast" id="breakfast" />

<h1 id="title">Amentities</h1>

<ul>
    <li>Indoor Pool</li>
    <li>Hot Tub</li>
    <li>Pet Friendly</li>
    <li>Continental Breakfast included</li>
    <li>Fitness Room</li>
    <li>Free WiFi</li>
    <li>Cable</li>
    <li>HD-TV</li>
    <li>Room Service</li>
    <li>Located Near Downtown Mt. Pleasant</li>
    <li>Friendly Staff</li>
    <li>Smoke-free</li>
    <li>Free Parking</li>
    <li>24 Hour Front Desk Access</li>
</ul>