<h1 id="title">Create a Reservation</h1>

<div id="reservation">
    <form action="" id="reservationForm">

        <label for="arrDate">Arrival Date</label>
        <input #arrDate type="date" id="arrDate" name="arrivalDate" placeholder="">
        <br>

        <label for="depDate">Departure Date</label>
        <input #depDate type="date" id="deptDate" name="departureDate" placeholder="">
        <br>

        <label for="numGuests">Number of Guests</label>
        <input #numGuests type="number" id="numGuests" name="NumOfGuests" placeholder="">
        <br>

        <label for="requests">Special Requests</label>
        <textarea #requests id="requests" name="requests" placeholder="Write something.." style="height:100px"></textarea>
        <br>

        <label for="firstName">First Name</label>
        <input #firstName type="text" id="firstName" name="firstName" placeholder="Your name..">
        <br>

        <label for="lastName">Last Name</label>
        <input #lastName type="text" id="lastName" name="lastName" placeholder="Your last name..">
        <br>

        <label for="phone">Phone Number</label>
        <input #phone type="tel" id="phone" name="phone" placeholder="Your phone number..">
        <br>

        <label for="email">Email</label>
        <input #email type="email" id="email" name="email" placeholder="Your email..">
        <br>

        <div id="roomType">
            <label>Type of Room:</label>
            <input type="radio" name="roomType" ng-model="roomType" value="d" (click)="showValue('d')">Deluxe
            <input type="radio" name="roomType" ng-model="roomType" value="s" (click)="showValue('s')"> Suite
            <input type="radio" name="roomType" ng-model="roomType" value="r" (click)="showValue('r')"> Regular <br>
        </div>
        <br><br>

        <button type="button" (click) ="submitReservation(arrDate.value, depDate.value, numGuests.value, requests.value, firstName.value, lastName.value, phone.value, email.value)" id="submit">Submit</button>
    </form>
</div>