<h1>Things to do in Mt. Pleasant</h1>
<h2>Parks and Campgrounds</h2>
<ul>
  <li>Chipp-A-Waters Park</li>
  <li>Deerfield Nature Park</li>
  <li>Island Park</li>
  <li>Meridian Park</li>
  <li>Mill Pond Park</li>
  <li>Mission Creek Woodland Park</li>
  <li>Nelson Park</li>
  <li>Outdoor Adventures RV Resort and Campground</li>
  <li>Saginaw Chippewa Campground</li>
  <li>Soaring Eagle Hideaway RV Park</li>
  <li>Sunnyside Park</li>
</ul>
<h2>Local Restaurants</h2>
<ul>
  <li>Camile's Prime</li>  
  <li>Dog Central</li>
  <li>Italian Oven Restaurant</li>
  <li>Jon's Drive-in</li>
  <li>Midori Sushi & Martini Lounge</li>
  <li>Mountain Town Station</li>
  <li>Pixie Restaurant</li>
  <li>Pizza King</li>
  <li>Shin's Korean Restaurant</li>  
  <li>Stan's Restaurant</li>  
</ul>
<h2>Nightlife and Bars</h2>
<ul>
  <li>Bird Bar & Grill</li>
  <li>The Brass</li>
  <li>Cabin</li>
  <li>Crankers Brewery</li>
  <li>Freddie's Tavern</li>
  <li>Green Spot Pub</li>
  <li>Hunter's Ale House</li>
  <li>Mountain Town Brewing Company</li>
  <li>O'Kelly's Sports Bar & Grill</li>
  <li>Rubbles Bar</li>
  <li>Six Lounge</li>
  <li>Wayside Central</li>  
</ul>
