<h1 id="title">Things To Do in the Area</h1>

<img src="assets/img//pixie.jpg" alt="pixie" id="pixie" />

<h2>Parks</h2>
<ul>
  <li>Chipp-A-Waters Park</li>
  <li>Mill Pond Park</li>
  <li>Island Park</li>
  <li>Nelson Park</li>
</ul>
<br />

<h2>Local Restaurants and Bars</h2>
<ul>
  <li>Pixie Restaurant</li>
  <li>Dog Central</li>
  <li>Stan's Restaurant</li>
  <li>The Bird Bar & Grill</li>
  <li>Hunter's Ale House</li>
  <li>Blue Gator Sports Pub & Grill</li>
</ul>
<br />

<img src="assets/img/kellyshorts.jpg" alt="Kelly Shorts Stadium" id="kellyshorts" />

<h2>Nightlife</h2>
<ul>
  <li>Soaring Eagle Casino</li>
  <li>Wayside Central</li>
  <li>Encore</li>
  <li>Okellys Sports Bar & Grill</li>
</ul>
<br />


<h2>For the Family</h2>
<ul>
  <li>Kelly Shorts Stadium</li>
  <li>Soaring Eagle Waterpark and Hotel</li>
  <li>Celebration! Cinema</li>
  <li>Chippewa Lanes</li>
</ul>
<br />
<br />
<p>
  For more information about the area, <a href="http://www.mt-pleasant.org/">click here</a>
</p>